@import "base/colores";

* {
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  #idPath {
    color: $blanco;
    text-align: center;
    font-size: 3.5vh;
    padding: 15px;
    background-color: $commonback;
  }
  
  .arUrl {
    color: $blanco;
    text-decoration: none;
  }
  
  .tableAll {
    margin: 25px;
  }

  .formText {
    margin-top: 70px;
  }

  .esp__list {
    padding-left: 95px;
    padding-right: 100px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 4vh;
    color: #6b2d03;
    margin-top: 25px;
    text-align: center;
  }
  
  .imgHeight {
    margin-bottom: 65px;
    width: 100%;
  }

  .imgHeightt {
    width: 100%;
  }
  
  footer {
    display: block;
    background: $commonback;
    width: 100%;
  }

  .footer {
    display: block;
    background: $commonback;
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  .footer__bar {
    list-style: none;
    display: flex;
    flex-direction: row;

    a {
    text-decoration: none;
    color: $blanco;
    }

    p {
    color: $blanco;
    font-size: 15px;
    }

    div {
    margin: 10px;
    }
  }

  .copyrightBar {
    display: block;
    text-align: right;
    color: $blanco;
    background: #4d2103;
    font-size: 15px;
  }
  
  .footer__ig {
    width: 15px;
    margin: 1px 3px -2px;
  }
  
  .footer__tw {
    width: 15px;
    margin: 1px 3px -2px;
  }
  
  .footer__hover {
    transition: color .5s;
  }
  
  .footer__hover:hover {
    color: #b7500c;
  }
  
  .grid__button {
    transition: background-color .5s;
  }
  
  .grid__button:hover {
    background-color: #6b2d03;
    
  }
  
  .footer__fb {
    width: 15px;
    margin: 1px 3px -2px;
  }
  
  .esp__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 12px;
    color: #6b2d03;
    font-size: 20px;
  }
  
  .esp__images img {
    display: inline-block;
    border-radius: 15px;
    margin: 30px;
    width: 300px;
    height: 300px;
  }
  
  .sucursalesPage img {
    width: 500px;
    margin: 25px;
    border-radius: 15px;
  }
  
  .sucursalesPage p {
    margin: 15px;
    padding: 10px;
  }
  
  .sucursalesPage h1 {
    color: chocolate;
    padding: 15px;
  }
  
  .grid__base {
    margin: 35px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
  }
  
  .grid__button--modifier {
    margin-top: 33px;
  }
  
  .grid__links {
    text-decoration: none;
    color: $blanco;
  }
  
  .grid__base article {
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }
  
  .grid__img {
    width: 13.438rem;
    height: 8.938rem;
  }
  
  .grid__text {
    margin: 25px;
    color: #6b2d03;
  }
  
  .grid__base h3 {
    color: #6b2d03;
  }
  
  .text {
    color: #b7500c;
    padding: 0 20px 20px;
  }
  
  .text button {
    background: $commonback;
    border: 0;
    color: $blanco;
    padding: 10px;
    width: 100%;
  }
  
  @media only screen and (max-width: 640px) {
    .flexBox, .imgHeight {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .flexBox, .imgHeight {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .flexBox, .imgHeight {
      width: 100%;
    }
  }
  
  .bodyContact::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(rgba(245, 245, 245, 0.8), rgba(241, 241, 241, 0.7)), url(https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .bodyContact {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    height: auto;

    h1 {
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0 auto;
  }
    p {
    margin-top: 0;
    font-size: 1.125rem;
  }

  label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0 auto;
  }

  button {
    border: none;
    width: 40%;
    font-size: 25px;
    padding: 0.75rem;
    background: $commonback;
    color: inherit;
    border-radius: 9px;
    cursor: pointer;
    color: $blanco;
  }
  }
  
  .contactHeader {
    text-align: center;
    margin-top: 25px;
    font-size: 3vh;
    color: #6b2d03;
  }
  
  .completeForm {
    margin-left: 50px;
    margin-bottom: 50px;
    width: 75%;
    border: 1px solid $commonback;
    border-radius: 5px;
    line-height: 30px;
  }
  
  .checkIn {
    width: 40%;
    height: 1.30rem;
    border-radius: 5px;
  }
  
  .collapse {
    flex-grow: 0;
  }


  .logoType {
    margin-left: 10px;
    margin-bottom: 15px;
    width: 263px;
    height: 55px;
    border-radius: 5px;
  }
  
  
  .btnBtn {
    margin-top: 25px;
    margin-left: 50%;
    transform: translate(-50%);
  }
  
  .carousel {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 65%;
  }
  
  .carousel-item h5 {
    text-shadow: 2px 2px 3px black;
  }
  
  .carousel-item p {
    text-shadow: 2px 2px 3px black;
  }
  
  .nav-item {
    font-size: 20px;
    padding: 7px;
  }


